<div class="container-fluid">
<form [formGroup]="ActionDataForm" >
    <div class="form-group">
      <label>ID</label>
      <input type="number" formControlName="ID" class="form-control">
    </div>

    <div class="form-group">
      <label>Action</label>
      <input type="text" formControlName="action" class="form-control">
    </div>

    <div class="form-group">
        <label>Service Name</label>
        <input type="text" formControlName="Sname" class="form-control">
      </div>

      <div class="form-group">
        <label>Created By</label>
        <input type="text" formControlName="createdBy" class="form-control">
      </div>
      <div class="form-group">
        <label>created On</label>
        <input type="text" formControlName="createdOn" class="form-control">
      </div>

      <div class="form-group">
        <label>Updated By</label>
        <input type="text" formControlName="updatedBy" class="form-control">
      </div>

      <div class="form-group">
        <label>Updated On</label>
        <input type="text" formControlName="UpdatedOn" class="form-control">
      </div>
      </form>
</div>